{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap %}
{% load crispy_forms_filters %}
{% load bootstrap3 %}

{% block branding %}

<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
        	<h1 id="site-name"><a href="/">SSD Database Portal</a></h1>
        </div>     
        <div id="user-tools">  
            <strong>Welcome to the portal.</strong> 
            <strong>        To add or edit information, login as an 
        		<a href="{% url 'admin:login' %}">Admin</a></strong> /
        	<strong> <a href="{% url 'user_logout' %}">Log out</a></strong>	
        </div>       
    </div>
</div>
{% endblock %}

{% block pretitle%}
    {% if filter %}
        <div class="object-tools">
            <form method="GET" class="action-counter">
                {{ filter.form|crispy }}
                <button class="button" type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    {% endif %}
{% endblock %}


{% block content %}

    <p>Annealing history for the detector <strong>{{ detector_id }}</strong>.</p>

{% render_table table 'django_tables2/bootstrap.html' %}
    
	
{% endblock %}