{% extends "admin/base_site.html" %}
{% load template_filters %}

{% block branding %}

<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">     
			<h1 id="site-name"><a href="/">SSD Database Portal</a></h1>
        </div>
        <div id="user-tools">
            <strong>Welcome to the portal.</strong> 
            <strong>        To add or edit information, login as an 
        		<a href="{% url 'admin:login' %}">Admin</a></strong> /
        	<strong> <a href="{% url 'user_logout' %}">Log out</a></strong>	
        </div>     
    </div>
</div>
{% endblock %}


{% block pretitle %}{% endblock %}

{% block content %}
    <p>List of <strong>{{ meastype|uts_upper }}</strong> measurements on <strong>{{ detector_id }}</strong>.</p>
    <ul>
        {% if file_list is None %}
            ({{ no_entry_msg }})
        {% else %}
            {% for file in file_list %}
                <li>{{ file }}</li>
            {% endfor %}
        {% endif %}
    </ul>
    {% if file_list is not None %}
        <div class="pagination">
            <span class="step-links">
                <ul>
                    {% if file_list.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ file_list.previous_page_number }}">&nbsp; previous</a>
                    {% endif %}
                    {% if file_list.has_next %}
                        <a href="?page={{ file_list.next_page_number }}">&nbsp; next</a>
                        <a href="?page={{ file_list.paginator.num_pages }}">&nbsp; last &raquo;</a>
                    {% endif %}
                </ul>
            </span>
        </div>
    {% endif %}

{% endblock %}